.projects {
  width: 100%;
  margin-top: 4rem auto;
  padding-inline: 1rem;

  .projects__title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }
  .projects__container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 2rem 0;
    gap: 2rem;

    .projects__item {
      height: 700px;
      border-radius: 15px;

      padding: 2rem;
      background: var(--primary);
      box-shadow: var(--box-shadow);
      transition: border 0.5s ease-in-out, color;
      &:hover {
        border: 1px solid var(--resalt);
      }
      .project__item__previous {
        position: relative;
        width: 100%;
        height: 200px;
        margin: 0 auto;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        border-radius: 10px;

        &::after {
          content: "visit my website";
          color: var(--resalt);
          font-size: 1.5rem;
          text-align: center;
          position: absolute;
          left: 0;
          top: 50%;
          width: 100%;
          height: 100%;

          /* cursor: pointer; */
          display: none;
        }

        &:hover {
          opacity: 0.5;
        }

        &:hover::after {
          display: inline-block;
          
        }
      }
    }
    .projects__info {
      height: 65%;
      margin-top: 1rem;
      position: relative;
      font-size: 0.8rem;
      line-height: 1rem;

      .projects__info__title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }

      .projects__info__list {
        margin-top: 1rem;
        line-height: 1rem;
      }

      .projects__info__link {
        margin-top: 2rem;
        position: absolute;
        bottom: 30px;
        right: 0;
        left: 0;
      }
    }
  }
}
@media screen and (min-width: 1115px) {
  .projects {
    width: 1115px;
    margin: 4rem auto;
    padding: 2rem;

    .projects__container {
      grid-template-columns: repeat(3, 1fr);

      .projects__item {
        height: 700px;

        .project__item__previous {
          width: 300px;
          height: 200px;
          background-size: cover;
          background-position: center;
        }

        .projects__info__link {
          margin-top: 2rem;
         bottom: 10px;
        }
      }
    }
  }
}
